<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Home{% endblock %} - CQRS</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://materializecss.com/css/ghpages-materialize.css">

    {%- include "MaterializeBundle:Materialize:css.html.twig" -%}

    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="{{ url('homepage') }}" class="brand-logo center">Tolu CQRS</a>
        <ul class="left hide-on-med-and-down">
            <li class="nav-tabs"><a href="{{ url('homepage') }}">Overview</a></li>
            <li class="nav-tabs"><a href="{{ url('posts') }}">Post</a></li>
        </ul>
    </div>
</nav>
<nav>
    <div class="nav-wrapper">
        <div class="container">
        </div>
        <div class="row">
            <div class="col s12" style="background-color: #5c5757;">
                <a href="javascript:void" class="breadcrumb" style="font-size: 0.90em;">First</a>
                <a href="javascript:void" class="breadcrumb" style="font-size: 0.90em;">Second</a>
                <a href="javascript:void" class="breadcrumb" style="font-size: 0.90em;">Third</a>
            </div>
        </div>
    </div>
</nav>
    {% block body %}{% endblock %}
    {%- include "MaterializeBundle:Materialize:js.html.twig" -%}
    {% block javascripts %}{% endblock %}
</body>
</html>