{% extends 'BlogBundle::base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block stylesheets %}
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="{{ asset('assets/js/summernote-lite.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/summernote-lite.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ title }}</span>
                    <p class="blogPostContent">
                        {{ content }}
                    </p>
                </div>
            </div>
            <div class="card full">
                <div class="row">
                    <div class="card-content col s12 m12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="row col s12 m12">
                    <div class="col s12 m6">
                        <table class="bordered striped responsive-table">
                            <tr>
                                <th>Info:</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Author</td>
                                <td class="author">Tolu</td>
                            </tr>
                            <tr>
                                <td>Edited by Author</td>
                                <td class="author">~</td>
                            </tr>
                            <tr>
                                <td>Created on</td>
                                <td class="author">{{ 'now'|date("d-m-Y H:i:s", "Europe/Amsterdam") }}</td>
                            </tr>
                            <tr>
                                <td>Edited on</td>
                                <td class="author">~</td>
                            </tr>
                            <tr>
                                <td>Viewed</td>
                                <td class="viewed">150x</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card row fulSide">
                <div class="col s12 m12">
                    {% include 'BlogBundle::components/sidemenu.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

        $(document).ready(function() {;
            card = $('.blue-grey').height();
            edit = $('.full').height();
            $('.fulSide').height(edit + card + 15 );
        });
    </script>
{% endblock %}