{% extends 'BlogBundle::base.html.twig' %}

{% block title %}Post{% endblock %}

{% block stylesheets %}
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8">
            <div class="card full">
                <div class="card-content col s12 m12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card row fulSide">
                <div class="col s12 m12">
                    {% include 'BlogBundle::components/sidemenu.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

        $(document).ready(function() {;
            edit = $('.full').height(901);
            $('.fulSide').height(901 );
        });
    </script>
{% endblock %}